form {
    background-color: #85B093;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9); /*sombreamento do formulário*/
    width: 400px;
    box-sizing: border-box;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-sizing: border-box;
}
 
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
 
input[type="submit"]:hover {
    background-color: #218838;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}
 .cadastre-se{
    color: #ffffff;
    font-size: 18px;
    text-decoration: underline;
 }